<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../CSS/Admin/PaperDetail.css" />
		<link rel="stylesheet" href="../../CSS/buttons.css" />
		<script src="../../JS/jquery-2.2.3.js"></script>
		<script type="text/javascript" src="../../JS/angular-1.5.3/angular.js" ></script>
	</head>
	<body>
		<div class="sidr">
			<div class="detailPart paperName">
				<div class="detailTitle">PaperName:</div>
				<div class="detailBody">Preparation of graphene oxide/multiwalled carbon nanotubes 3D flexible architecture for robust biosensing application</div>
			</div>
			<div class="detailPart paperID">
				<div class="detailTitle">ID:</div>
				<div class="detailBody">9190</div>
			</div>
			<div class="detailPart chineseName">
				<div class="detailTitle">ChineseName:</div>
				<div class="detailBody">null</div>
			</div>
			<div class="detailPart department">
				<div class="detailTitle">Department:</div>
				<div class="detailBody">null</div>
			</div>
			<div class="detailPart labName">
				<div class="detailTitle">LabName:</div>
				<div class="detailBody">null</div>
			</div>
			<div class="detailPart journalName">
				<div class="detailTitle">JournalName:</div>
				<div class="detailBody">CERAMICS INTERNATIONAL</div>
			</div>
			<div class="detailPart authorKeyWord">
				<div class="detailTitle">AuthorKeyWord:</div>
				<div class="detailBody">null</div>
			</div>
			<div class="detailPart keyWord">
				<div class="detailTitle">KeyWord:</div>
				<div class="detailBody">null</div>
			</div>
			<div class="detailPart abstract">
				<div class="detailTitle">Abstract:</div>
				<div class="detailBody">null</div>
			</div>
			<div class="detailPart authorAddress">
				<div class="detailTitle">AuthorAddress:</div>
				<div class="detailBody">
					<div class="authorName">Chen, Jing</div>
					<div class="authorName">Zhao, Minggang</div>
					<div class="authorName">Li, Yingchun</div>
					<div class="authorName">Liang, Jingjing</div>
					<div class="authorName">Fan, Sisi</div>
					<div class="authorName">Chen, Shougang</div>
					<div class="authorBodyAddress">Ocean Univ China, Dept Mat Sci \u0026 Engn, Qingdao 266100, Peoples R China</div>
				</div>
			</div>
			<div class="detailPart publishData">
				<div class="detailTitle">PublishData:</div>
				<div class="detailBody">2015-12-21</div>
			</div>
		</div>
		<div class="container">
			<div class="authorCard">
				<div class="authorDetail">
					<p class="items">ID:&nbsp;&nbsp;</p><p>8717&nbsp;&nbsp;</p>
					<p class="items">Ordinal:&nbsp;&nbsp;</p><p>4&nbsp;&nbsp;</p>
					<p class="items">NameEN:&nbsp;&nbsp;</p><p>BaoXichang&nbsp;&nbsp;</p>
					<p class="items">Department:&nbsp;&nbsp;</p><p>null&nbsp;&nbsp;</p>
					<a href="#" class="button button-caution button-rounded">Reject All</a>
				</div>
				<div class="card">
					<div class="cardAuthorDetail">
						<div class="cardItem authorPersonID">作者ID: 60745</div>
						<div class="cardItem cardNameCN">中文名： 郑慧琳</div>
						<div class="cardItem cardNameEN">英文名： ZhengHuiLin</div>
						<div class="cardItem cardPersonNo">编号： 21131711010</div>
						<div class="cardItem cardMobile">手机： null</div>
						<div class="cardItem cardEmail">Email: null</div>
					</div>
					<div class="cardLine"></div>
					<div class="btnGroup">
						<a href="#" class="button button-action button-rounded">Accept</a>
					</div>
				</div>
				<div class="card">
					<div class="cardAuthorDetail">
						<div class="cardItem authorPersonID">作者ID: 60745</div>
						<div class="cardItem cardNameCN">中文名： 郑慧琳</div>
						<div class="cardItem cardNameEN">英文名： ZhengHuiLin</div>
						<div class="cardItem cardPersonNo">编号： 21131711010</div>
						<div class="cardItem cardMobile">手机： null</div>
						<div class="cardItem cardEmail">Email: null</div>
					</div>
					<div class="cardLine"></div>
					<div class="btnGroup">
						<a href="#" class="button button-action button-rounded">Accept</a>
					</div>
				</div>
				<div class="card">
					<div class="cardAuthorDetail">
						<div class="cardItem authorPersonID">作者ID: 60745</div>
						<div class="cardItem cardNameCN">中文名： 郑慧琳</div>
						<div class="cardItem cardNameEN">英文名： ZhengHuiLin</div>
						<div class="cardItem cardPersonNo">编号： 21131711010</div>
						<div class="cardItem cardMobile">手机： null</div>
						<div class="cardItem cardEmail">Email: null</div>
					</div>
					<div class="cardLine"></div>
					<div class="btnGroup">
						<a href="#" class="button button-action button-rounded">Accept</a>
					</div>
				</div>
				<div class="card">
					<div class="cardAuthorDetail">
						<div class="cardItem authorPersonID">作者ID: 60745</div>
						<div class="cardItem cardNameCN">中文名： 郑慧琳</div>
						<div class="cardItem cardNameEN">英文名： ZhengHuiLin</div>
						<div class="cardItem cardPersonNo">编号： 21131711010</div>
						<div class="cardItem cardMobile">手机： null</div>
						<div class="cardItem cardEmail">Email: null</div>
					</div>
					<div class="cardLine"></div>
					<div class="btnGroup">
						<a href="#" class="button button-action button-rounded">Accept</a>
					</div>
				</div>
			</div>
			
			<div class="authorCard">
				<div class="authorDetail">
					<p class="items">ID:&nbsp;&nbsp;</p><p>8717&nbsp;&nbsp;</p>
					<p class="items">Ordinal:&nbsp;&nbsp;</p><p>4&nbsp;&nbsp;</p>
					<p class="items">NameEN:&nbsp;&nbsp;</p><p>BaoXichang&nbsp;&nbsp;</p>
					<p class="items">Department:&nbsp;&nbsp;</p><p>null&nbsp;&nbsp;</p>
				</div>
				<div class="card">
					<div class="cardAuthorDetail">
						<div class="cardItem authorPersonID">作者ID: 60745</div>
						<div class="cardItem cardNameCN">中文名： 郑慧琳</div>
						<div class="cardItem cardNameEN">英文名： ZhengHuiLin</div>
						<div class="cardItem cardPersonNo">编号： 21131711010</div>
						<div class="cardItem cardMobile">手机： null</div>
						<div class="cardItem cardEmail">Email: null</div>
					</div>
					<div class="cardLine"></div>
					<div class="btnGroup">
						<a href="#" class="button button-action button-rounded">Accept</a>
					</div>
				</div>
			</div>
			
		</div>
	</body>
</html>
