<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../CSS/Admin/PaperList.css" />
		<link rel="stylesheet" href="../../CSS/buttons.css" />
	</head>
	<body>
		<div class="navTitle">
			<h1>首页 》 待认领</h1>
		</div>
		<div class="cardContainer">
			<div class="card">
				<div class="paperName">Synthesis and Quantum Chemical Calculation of Benzamide Derivatives Containing Capsaicin and Their Bacteriostatic and Antifouling Properties</div>
				<div class="authorName">Author Name : JiangXiaohui</div>
				<div class="publishDate">Publish Date : 2015-12-01</div>
				<div class="cardLine"></div>
				<div class="btnGroup">
					<a href="PaperDetail.html" class="button button-action button-rounded">详细</a>
				</div>
			</div>
			<div class="card">
				<div class="paperName">Biomimetic semi-synthesis of fradcarbazole A and its analogues</div>
				<div class="authorName">Author Name : MeiXiangui</div>
				<div class="publishDate">Publish Date : 2015-10-21</div>
				<div class="cardLine"></div>
				<div class="btnGroup">
					<a href="PaperDetail.html" class="button button-action button-rounded">详细</a>
				</div>
			</div>
			<div class="card">
				<div class="paperName">Rapid detection methodology for inorganic mercury (Hg2+) in seafood samples using conjugated polymer (1,4-bis-(8-(4-phenylthiazole-2-thiol)-octyloxy)-benzene) (PPT) by colorimetric and fluorescence spectroscopy</div>
				<div class="authorName">Author Name : PavaseTusharRamesh</div>
				<div class="publishDate">Publish Date : 2015-12-01</div>
				<div class="cardLine"></div>
				<div class="btnGroup">
					<a href="PaperDetail.html" class="button button-action button-rounded">详细</a>
				</div>
			</div>
			<div class="card">
				<div class="paperName">Synthesis and Quantum Chemical Calculation of Benzamide Derivatives Containing Capsaicin and Their Bacteriostatic and Antifouling Properties</div>
				<div class="authorName">Author Name : JiangXiaohui</div>
				<div class="publishDate">Publish Date : 2015-12-01</div>
				<div class="cardLine"></div>
				<div class="btnGroup">
					<a href="PaperDetail.html" class="button button-action button-rounded">详细</a>
				</div>
			</div>
		</div>
	</body>
</html>
