use PaperRecognize;
--update Paper set status = 0;
select * from [User];
--delete from Paper;


--select DepartmentId from Person_Department where PersonId in (select Id from Person where PersonNo ='1993027' );

--insert into [User](Name,[Password],[Role],[DepartmentId])values( '1993027','1993027',0,90 );