<!DOCTYPE html>
<html ng-app="ngLoginApp">
	<head>
		<meta charset="utf-8" />
		<title>PaperRecognize</title>
		<script type="text/javascript" src="JS/jquery-2.2.3.js" ></script>
		<script type="text/javascript" src="JS/login.js" ></script>
		<script type="text/javascript" src="JS/bootstrap.js"></script>
		<script type="text/javascript" src="JS/angular-1.5.3/angular.js" ></script>
		<link rel="stylesheet" href="CSS/login.css" />
		<link rel="stylesheet" href="CSS/bootstrap.css" />
		<link rel="stylesheet" href="CSS/cikonss.css" />
		
		
	</head>
	<body ng-controller="ngLoginCtrl">
		
		
		<div class="container">
			<div class="title">
				<img class="img_small" src="img/Login/PaperRecognize_title.png" />
				<img class="img_big" src="img/Login/PaperRecognize_title_big_988_137.png" />
			</div>
			<div class="input">
				<!--IdInputBody-->
				<div id="inputID" class="inputContainer">
					<div class="inputBody">
						<input ng-model="loginData.Name" id="ID" class="form-control" type="text" placeholder="ID" />
					</div>
					<div id="IDCheck" class="check">
						<img id="IDCheckImg" src="img/Login/down.png" />
					</div>
				</div>
				<!--PasswordInputBody-->
				<div id="inputPassword" class="inputContainer">
					<div class="inputBody">
						<input ng-model="loginData.password" id="Password" class="form-control" type="password" placeholder="Password" />
					</div>
					<div id="PasswordCheck" class="check">
						<img id="PasswordCheckImg" src="img/Login/down.png" />
					</div>
				</div>
				<!--RoleInputBody-->
				<div id="inputRole" class="inputContainer">
					<div class="inputBody">
						<div class="radio">
          					<label>
            					<input ng-model="loginData.role" type="radio" name="selectRole" id="optionsRadios1" value="common" checked="">
            					Common
          					</label>
        				</div>
        				<div class="radio">
          					<label>
            					<input ng-model="loginData.role" type="radio" name="selectRole" id="optionsRadios2" value="depart">
            					Depart
          					</label>
        				</div>
        				<div class="radio">
          					<label>
            					<input ng-model="loginData.role" type="radio" name="selectRole" id="optionsRadios2" value="school">
            					School
          					</label>
        				</div>
					</div>
					<div id="roleCheck" class="check">
						<img id="RoleCheckImg" src="img/Login/down.png" />
					</div>
				</div>
				<div id="getStart" class="btnStart">
					<div class="goToIndex" ng-click="login()"><h2>Let's Start</h2></div>
					<div class="goToIndexBtn" ng-click="login()"><span class="icon icon-mid"><span class="icon-arrowRight"></span></span></div>
				</div>
				
				
				<div class="selectBtn row">
					<div id="selectID" class="selectBody col-lg-4">
						<div class="selectLine"></div>
						<div class="textID"><h4><strong>ID</strong></h4></div>
					</div>
					<div id="selectPassword" class="selectBody col-lg-4">
						<div class="selectLine"></div>
						<div class="textPassword"><h4><strong>Password</strong></h4></div>
					</div>
					<div id="selectRole" class="selectBody col-lg-4">
						<div class="selectLine"></div>
						<div class="textRole"><h4><strong>Role</strong></h4></div>
					</div>
				</div>
				
			</div>
			
			
			
			
		</div>
	</body>
</html>
