<!DOCTYPE html>
<html ng-app="ngloginApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <script src="../Scripts/jquery-3.1.0.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/angular.js"></script>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="Login.css" rel="stylesheet"/>

    <script>
        var loginApp = angular.module('ngloginApp', []);
        loginApp.controller('ngLoginCtrl',function($scope, $http) {
            $scope.loginData = null;

            $scope.login = function () {

                if ($scope.loginData.Role == "0" || $scope.loginData.Role == "1") {
                    $http.post("http://localhost:61355/api/login", $scope.loginData).success(
                        function(response) {
                            if (response.toString() == "common") {
                                self.location = "userPaper/UserPaperMain.html";
                            } else if (response.toString() == "depart") {
                                self.location = "adminPaper/AdminPaperMain.html";
                            } else if (response.toString() == "wrong") {
                                alert("请输入正确的用户名或密码");
                            }
                        }
                    ).error(
                        function() {
                            alert("通信错误！请检查您的网络！");
                        }
                    );
                } else {
                    alert("此功能尚未开启！请等待攻城狮添加！");
                }

                
            }
        });
    </script>

</head>
<body ng-controller="ngLoginCtrl">
    <div id="content">
        <div id="contentHeader">
            <h2>Login</h2>
        </div>

        <div id="contentBody">
            <form class="form-horizontal">
                <fieldset>
                    <label class="control-label">用户名：</label><br/>
                    <input name="username" ng-model="loginData.name" type="text" class="form-control" placeholder="请输入您的用户名"/>
                    <br/>
                    <br/>
                    <label class="control-label">密码：</label><br/>
                    <input name="password" ng-model="loginData.password" type="password" class="form-control" placeholder="请输入密码"/>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>
                                <input ng-model="loginData.Role" type="radio" name="roleRadios" id="commonRadios" value="0" checked=""/>
                                Common
                            </label>
                        </div>
                        <div class="col-lg-4">
                            <label>
                                <input ng-model="loginData.Role" type="radio" name="roleRadios" id="departRadios" value="1"/>
                                Depart
                            </label>
                        </div>
                        <div class="col-lg-4">
                            <label>
                                <input ng-model="loginData.Role" type="radio" name="roleRadios" id="schoolRadios" value="2"/>
                                School
                            </label>
                        </div>
                    </div>
                </fieldset>

                {{loginData}}

            </form>
        </div>



        <div id="contentFooter">
            <a ng-click="login()" class="btn btn-primary btn-lg">登录</a>
        </div>

    </div>
</body>
</html>
