<!DOCTYPE html>
<html ng-app="ngPaperListApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../CSS/User/PaperList.css" />
		
		<script>
			var paperListApp = angular.module('ngPaperListApp',[]);
			paperListApp.controller('ngPaperListCtrl',function(){
				
			});
		</script>
		
	</head>
	<body ng-controller="ngPaperListCtrl">
		<div class="navTitle">
			<h1>首页 》已分配</h1>
		</div>
		<div class="cardContainer">
			<div class="card">
				<div class="paperName">Stability and permeation behavior of a porous membrane modified by polyelectrolyte networks enabled by electro-deposition and cross-linking for water purification</div>
				<div class="cardLine"></div>
				<div class="publishDate">Publish Date : 2015-12-15</div>
			</div>
			<div class="card">
				<div class="paperName">Thiophene pi-bridge effect on photovoltaic performances of dithienosilole and bithiazole backboned polymers</div>
				<div class="cardLine"></div>
				<div class="publishDate">Publish Date : 2015-12-10</div>
			</div>
			<div class="card">
				<div class="paperName">Comparative study on the effects of chelated or inorganic manganese in diets containing tricalcium phosphate and phytate on the growth performance and physiological responses of turbot Scophthalmus maximus</div>
				<div class="cardLine"></div>
				<div class="publishDate">Publish Date : 2015-12-01</div>
			</div>
			<div class="card">
				<div class="paperName">Rapid detection methodology for inorganic mercury (Hg2+) in seafood samples using conjugated polymer (1,4-bis-(8-(4-phenylthiazole-2-thiol)-octyloxy)-benzene) (PPT) by colorimetric and fluorescence spectroscopy</div>
				<div class="cardLine"></div>
				<div class="publishDate">Publish Date : 2015-12-01</div>
			</div>
		</div>
	</body>
</html>
