<!DOCTYPE html>
<html ng-app="ngUserPaperMain">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PaperRecognize</title>
    <meta charset="utf-8" />
    <script src="../../Scripts/jquery-3.1.0.js"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-route.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="UserPaperMain.css" rel="stylesheet" />







</head>
<body ng-controller="ngUserPaperMainCtrl">

    <script>


        var app = angular.module('ngUserPaperMain', ['ngRoute']);
        app.controller('ngUserPaperMainCtrl',
            function ($scope) {
                

            })
            //list
            .controller("ngUserPaperListCtrl", function ($http, $scope) {
                $http.get("http://localhost:61355/api/user/mypaper/get")
                    .success(
                    function (response) {
                        $scope.papers = response;
                    });

                var showDetail = function () {
                    alert($scope.paper);
                }

            })
            //claim
            .controller("ngUserPaperClaimCtrl",
            function ($http, $scope, $location) {

                


                $scope.paperDetail = null;

                $http.get("http://localhost:61355/api/user/claim/get")
                    .success(
                    function (response) {
                        $scope.papers = response;
                    });

                $scope.showDetail = function (paperId) {
                    var url = "http://localhost:61355/api/user/paper/detail/" + paperId;
                    $http.get(url)
                    .success(
                        function (response) {
                            $scope.paperDetail = response;
                        }
                    )
                }

                $scope.paperClaim = function (apId) {
                    $http({
                        method: 'POST',
                        url: 'http://localhost:61355/api/user/claim/post',
                        data: {
                            "AuthorPersonId": apId,
                            "Claim": "true"
                        }
                    }).success(
                    function (response) {
                        if (response.toString() == "success") {
                            //按钮置灰
                            self.location.reload();
                        }
                    }
                    ).error(
                        function () {
                            alert("通信失败！请检查您的网络！")
                        }
                    );
                }


            })
            //myclaim
            .controller("ngUserPaperMyClaimCtrl",
            function ($http, $scope, $location) {
                $scope.paperDetail = null;


                

                

                $http.get("http://localhost:61355/api/user/myclaim/get")
                    .success(
                    function (response) {
                        $scope.papers = response;
                    });

                $scope.showDetail = function (paperId) {
                    var url = "http://localhost:61355/api/user/paper/detail/" + paperId;
                    $http.get(url)
                    .success(
                        function (response) {
                            $scope.paperDetail = response;
                        }
                    )
                };

                $scope.paperReject = function (apId) {
                    $http({
                        method: 'POST',
                        url: 'http://localhost:61355/api/user/claim/post',
                        data: {
                            "AuthorPersonId": apId,
                            "Claim": "false"
                        }
                    }).success(
                    function (response) {
                        if (response.toString() == "success") {
                            //按钮置灰
                            //alert("success");
                            self.location.reload();
                        }
                    }
                    ).error(
                        function () {
                            alert("通信失败！请检查您的网络！")
                        }
                    );
                };


            })
            //confirm
            .controller("ngUserPaperConfirmCtrl",
            function ($http, $scope) {
                $http.get("http://localhost:61355/api/user/confirm/get")
                    .success(
                    function (response) {
                        $scope.papers = response;
                    });

                $scope.paperRight = function (AuthorPersonId) {
                    $http({
                        method: 'POST',
                        url: 'http://localhost:61355/api/user/confirm/post',
                        data: {
                            "AuthorPersonId": AuthorPersonId,
                            "Belongs": "true"
                        }
                    }).success(
                    function () {
                        self.location.reload();
                        //alert("success");
                    }
                    );
                }

                $scope.paperWrong = function (AuthorPersonId) {
                    $http({
                        method: 'POST',
                        url: 'http://localhost:61355/api/user/confirm/post',
                        data: {
                            "AuthorPersonId": AuthorPersonId,
                            "Belongs": "false"
                        }
                    }).success(
                    function () {
                        self.location.reload();
                        //alert("success");
                    }
                    );
                }

                $scope.showDetail = function (paperId) {
                    var url = "http://localhost:61355/api/user/paper/detail/" + paperId;
                    $http.get(url)
                    .success(
                        function (response) {
                            $scope.paperDetail = response;
                        }
                    )
                };

            })
            
            .config(function ($routeProvider) {
                $routeProvider
                    .when("/userpaperlist", {
                        templateUrl: "UserPaperList.html",
                        controller: "ngUserPaperListCtrl"
                    })
                    .when("/userpapermyclaim", {
                        templateUrl: "UserPaperMyClaim.html",
                        controller: "ngUserPaperMyClaimCtrl"
                    })
                    .when("/userpaperclaim", {
                        templateUrl: "UserPaperClaim.html",
                        controller: "ngUserPaperClaimCtrl"
                    })
                    .when("/userpaperconfirm", {
                        templateUrl: "UserPaperConfirm.html",
                        controller: "ngUserPaperConfirmCtrl"
                    })
                    .otherwise({
                        redirectTo: "/userPaperMain",
                        controller: "ngUserPaperMainCtrl"
                    });
            });

    </script>

    <!--顶部导航栏-->
    <div id="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">


                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">LOGO</a>
                </div>

                <div class="navbar-collapse collapse" id="bs-navbar-collapse" aria-expanded="false" style="height: 1px">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">更多</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <img id="userPhoto" src="../../image/未标题-1.jpg"
                                 style="height: 38px; width: 38px; border-radius: 19px; margin-top: 3px" />
                        </li>
                        <li class="active"><a href="#">注销</a></li>
                    </ul>

                </div>

            </div>
        </nav>
    </div>

    <!--页面主体-->
    <div id="content" class="row">
        <!--侧边栏-->
        <div id="sidr" class="col-lg-2">
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="#userpaperlist">user_paper_list</a></li>
                <li><a href="#userpapermyclaim">user_paper_my_claim</a></li>
                <li><a href="#userpaperclaim">user_paper_claim</a></li>
                <li><a href="#userpaperconfirm">user_paper_confirm</a></li>

            </ul>
        </div>

        <!--展示主体-->

        <div id="mainView">
            <div ng-view></div>
        </div>

    </div>
</body>
</html>
