<!DOCTYPE html>
<html ng-app="ngAdminPaperMain">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <script src="../../Scripts/jquery-3.1.0.js"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-route.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="AdminPaperMain.css" rel="stylesheet" />




</head>
<body ng-controller="ngAdminPaperMainCtrl">

    <script>


        var app = angular.module('ngAdminPaperMain', ['ngRoute'])
            .controller('ngAdminPaperMainCtrl', function ($scope) { })
            //claim
            .controller("ngAdminClaimPaperCtrl",
            function ($http, $scope) {




                $scope.paperDetail = null;

                $http.get("http://localhost:61355/api/admin/claim/get")
                    .success(
                    function (response) {
                        $scope.papers = response;
                    });

                $scope.showDetail = function (paperId) {
                    var paperUrl = "http://localhost:61355/api/user/paper/detail/" + paperId;
                    $http.get(paperUrl)
                    .success(
                        function (response) {
                            $scope.paperDetail = response;
                        }
                    )
                    var authorUrl = "http://localhost:61355/api/admin/paperauthors/get/" + paperId;
                    $http.get(authorUrl)
                    .success(
                        function (response) {
                            $scope.authorDetails = response;
                        }
                    )
                }

                $scope.authorRight = function (authorId) {
                    var url = "http://localhost:61355/api/admin/claim/post";
                    $http({
                        method: 'POST',
                        url: url,
                        data: {
                            "AuthorPersonId": authorId,
                            "AuthorClaim": "true"
                        }
                    }).success(
                        function () {
                            alert("success");
                        }
                    ).error(
                        function () {
                            alert("通信错误！请检查您的网络！");
                        }
                    );
                };

                $scope.authorWrong = function (authorId) {
                    var url = "http://localhost:61355/api/admin/claim/post";
                    $http({
                        method: 'POST',
                        url: url,
                        data: {
                            "AuthorPersonId": authorId,
                            "AuthorClaim": "false"
                        }
                    }).success(
                        function () {
                            alert("success");
                        }
                    ).error(
                        function () {
                            alert("通信错误！请检查您的网络！");
                        }
                    );
                };

                $scope.paperClaim = function (apId) {
                    $http({
                        method: 'POST',
                        url: 'http://localhost:61355/api/admin/claim/post',
                        data: {
                            "AuthorPersonId": apId,
                            "Claim": "true"
                        }
                    }).success(
                    function (response) {
                        if (response.toString() == "success") {
                            //按钮置灰
                        }
                    }
                    ).error(
                        function () {
                            alert("通信失败！请检查您的网络！")
                        }
                    );
                }


            })
            //confirm
            .controller("ngAdminConfirmPaperCtrl",
            function ($http, $scope) {
                $http.get("http://localhost:61355/api/admin/confirm/get")
                    .success(
                    function (response) {
                        $scope.papers = response;
                    });

                $scope.paperRight = function (AuthorPersonId) {
                    $http({
                        method: 'POST',
                        url: 'http://localhost:61355/api/admin/confirm/post',
                        data: {
                            "AuthorPersonId": AuthorPersonId,
                            "Belongs": "true"
                        }
                    }).success(
                    function () {
                        alert("success");
                    }
                    );
                }

                $scope.paperWrong = function (AuthorPersonId) {
                    $http({
                        method: 'POST',
                        url: 'http://localhost:61355/api/admin/confirm/post',
                        data: {
                            "AuthorPersonId": AuthorPersonId,
                            "Belongs": "false"
                        }
                    }).success(
                    function () {
                        alert("success");
                    }
                    );
                }

                $scope.showDetail = function (paperId) {
                    var url = "http://localhost:61355/api/user/paper/detail/" + paperId;
                    $http.get(url)
                    .success(
                        function (response) {
                            $scope.paperDetail = response;
                        }
                    )
                };

            })
            .config(function ($routeProvider) {
                $routeProvider
                    .when("/adminclaimpaper", {
                        templateUrl: "AdminClaimPaper.html",
                        controller: "ngAdminClaimPaperCtrl"
                    })
                    .when("/adminconfirmpaper", {
                        templateUrl: "AdminConfirmPaper.html",
                        controller: "ngAdminConfirmPaperCtrl"
                    })
                    .otherwise({
                        redirectTo: "/"
                    });
            });





    </script>


    <!--顶部导航栏-->
    <div id="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">


                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">LOGO</a>
                </div>

                <div class="navbar-collapse collapse" id="bs-navbar-collapse" aria-expanded="false" style="height: 1px">
                    <ul class="nav navbar-nav">
                        <li class="active"><a>更多</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <img id="userPhoto" src="../../image/未标题-1.jpg"
                                 style="height: 38px; width: 38px; border-radius: 19px; margin-top: 3px" />
                        </li>
                        <li class="active"><a>注销</a></li>
                    </ul>

                </div>

            </div>
        </nav>
    </div>

    <!--页面主体-->
    <div id="content">
        <!--侧边栏-->
        <div id="sidr">
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="#adminclaimpaper">admin_claim_paper</a></li>
                <li><a href="#adminconfirmpaper">admin_paper_confirm</a></li>
            </ul>
        </div>

        <!--展示主体-->

        <div id="mainView">
            <div ng-view></div>
        </div>








    </div>
</body>
</html>
