<!DOCTYPE html>
<html ng-app="ngAdminSearchPaperApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body ng-controller="ngAdminSearchPaperCtrl">

    <script>
        var adminSearchPaperApp = angular.module('ngAdminSearchPaperApp', []);
    </script>

    <div style="height:40px"></div>

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <input ng-model="searchPaper.PaperName" placeholder="论文名" type="text"/>
        </div>
        <div class="col-lg-3">
            <input ng-model="searchPaper.AuthorName" placeholder="作者名" type="text"/>
        </div>
        <div class="col-lg-3">
            <!--后期换成下拉列表-->
            <input ng-model="searchPaper.Depart" placeholder="院系" type="text"/>
        </div>
        <div class="col-lg-1">
            <a class="btn btn-primary" ng-click="searchPaperSubmit(searchPaper)">搜索</a>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <br />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>PaperName</th>
                <th>AuthorName</th>
                <th>Claim</th>
            </tr>
        </thead>
        <tbody>
            <tr class="info" ng-repeat="paper in papers">
                <td><a ng-click="showDetail(paper.Id)" data-target="#paperModal" data-toggle="modal">{{paper.PaperName}}</a></td>
                <td>{{paper.AuthorName}}</td>
                <td><a ng-click="paperClaim(paper.AuthorPersonId)" class="btn btn-primary btn-sm">Claim</a></td>
            </tr>
        </tbody>
    </table>




    
</body>
</html>
