<!DOCTYPE html>
<html ng-app="ngAdminConfirmPaperApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <script src="../../Scripts/jquery-3.1.0.js"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
</head>
<body ng-controller="ngAdminConfirmPaperCtrl">
    <script>
        var userPaperConfirm = angular.module("ngAdminConfirmPaperApp", []);
    </script>

    <br />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>PaperName</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            <tr class="info" ng-repeat="paper in papers">
                <td><a ng-click="showDetail(paper.Id)" data-target="#paperModal" data-toggle="modal">{{paper.PaperName}}</a></td>
                <td>

                    <a ng-click="paperRight(paper.AuthorPersonId)" class="btn btn-success btn-sm">Right</a>

                    <a ng-click="paperWrong(paper.AuthorPersonId)" class="btn btn-danger btn-sm">Wrong</a>

                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
